<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.cau.cs.kieler.magicdraw/MAGIC_DRAW_INSTALL_DIRECTORY/lib/md_api.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nomagic.magicdraw.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-verbose"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.cau.cs.kieler.magicdraw"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1200M -XX:PermSize=60M -XX:MaxPermSize=200M -Xss1024K -Dinstall.root=&quot;${resource_loc:de.cau.cs.kieler.magicdraw/MAGIC_DRAW_INSTALL_DIRECTORY}&quot; -Dmd.plugins.dir=&quot;${resource_loc:de.cau.cs.kieler.magicdraw/MAGIC_DRAW_INSTALL_DIRECTORY}/plugins:${project_loc:de.cau.cs.kieler.magicdraw}/..&quot;"/>
</launchConfiguration>
